header {
  background: #91AFC4;
  height: 95px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  position: sticky;
  margin-top: 0px;
  z-index: 1;
}

.logo {
  color: whitesmoke;
  max-height: 80%;
  display: flex;
  align-items: center;
}
.logo-pic {
  max-width: 4vw;
  max-height: 4vh;
}
.bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.bar button {
  padding: 10px;
  font-size: 18px;
  background: rgba(219, 227, 231, 1);
  margin: 5px;
  border-color: rgba(219, 227, 231, 0);
}
.bar button:hover{
  background-color: yellow;
}
.header-prof {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  color: whitesmoke;
  max-height: 80%;
}
.profilepic-header {
  border-radius: 60%;
  max-height: 60px;
  max-width: 80px;
  margin-right: 10px;
}
