.App {
  text-align: center;
  /* background-color: #CDCDCD; */
}
.body{
  min-height: 92vh;
}
header {
  position: sticky;
  z-index: 2;
  top: 0px;
}
.page{
    display: flex;
  justify-content: space-between;
  max-width: 100vw;
}
.content{
  background: whitesmoke;
  min-height: 100vh;
  left: 0%;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  width: 75vw;
}
.chat{
  border: solid black;
  background: rgb(199, 195, 195);
  right: 0;
  display: flex;
  flex-direction: column;
  width: 24vw;
}
.chatContent{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.chatWindow{
  height: calc(100vh - 95px - 95px);
  /* background-color: red; */
  padding: 20px;
}
.messageHistory{
  background: whitesmoke;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  height: 90%;
  max-width: 500px;
  margin: auto;
  overflow: scroll;
}
.bubble{
  margin-bottom: 3px;
  border-radius: 7px;
  background: lightgrey;
  max-width: 25%;
  padding: 5px 10px;
  align-self: flex-start;
}
.myBubble {
  background: #1084FF;
  color: white;
  align-self: flex-end;
}